.main .image img{
    width: 400px;
    z-index: -100;
    
}
.main{
    display: flex;
    justify-content: center;
    background-color: rgb(243, 242, 241);
    align-items: center;
}

.shoes_text{
    border-radius: 10px;
    z-index: 100;
    box-shadow: 5px 10px 18px #888888;
    position: relative;
    width: 700px;
    left: -70px;
    padding: 80px;
    min-height: 500px;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.shoes_text h1{
    font-weight: normal;
    margin-bottom: 50px;
}
.shoes_text p{
    color: gray;
    margin-bottom: 35px;
    line-height: 1.5;
}
@media (max-width:1045px){
    .main{
        flex-wrap: wrap;
    }
    .shoes_text{
        left: 0;
        margin-top: 30px;
    }
}